<!DOCTYPE html>
<html>
<style>
body{
    background-color:rgb(160,92,199); ;
}


h1{
    font-family: 'Times New Roman', Times, serif;
}

h2{
   font-family: 'Caveat', cursive;
}



</style>



<head>
<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
</head>


<body>

<h1> D.R.E</h1>
<h2>Design, Repost, Export</h2>

<p>Welcome to D.R.E, a social media website dedicated to you where you can like, repost, and export videos. D.R.E is a fun social media website where enjoyment happens.</p>

<p>The website name is based off my nickname and I chose it to make my website more unique. </p>

</body>








</html>


